</main>
    <footer class="main-footer">
        <p>&copy; <%= new Date().getFullYear(); %> Odt's - All Rights Reserved By Ajilltan.</p>
    </footer>
    <script src="/js/script.js"></script>
</body>
</html>